/**
 * WCS4 admin styles
 */
@media screen and (min-width: 783px) {
    #wcs4-show-form {
        display: none;
    }
}

@media screen and (max-width: 782px) {
    .wcs4-management-form-wrapper {
        position: absolute;
        background: rgba(255, 255, 255, 0.89);
        width: calc(100% - 20px);
        top: 0;
        z-index: 33;
        padding: 10px;
        display: none;
    }

    .wcs4-management-form-wrapper.is-open {
        display: block;
    }
}

.wcs4-management-page-callback .col-wrap {
    padding: 0 !important;
}

.wcs4-management-form-wrapper .form-field select,
.wcs4-management-form-wrapper .form-field input[type=text],
.wcs4-management-form-wrapper .form-field input[type=tel],
.wcs4-management-form-wrapper .form-field input[type=date],
.wcs4-management-form-wrapper .form-field input[type=email],
.wcs4-management-form-wrapper .form-field textarea {
    width: 95%;
    max-width: 95%;
}

@media screen and (max-width: 782px) {
    .wcs4-management-form-wrapper .form-field textarea {
        width: 100%;
    }
}

.wcs4-management-form-wrapper .form-field.form-time-field select {
    text-align: right;
}

tr {
    transition: all 0.2s ease-out 0s;
}

tr.is-active {
    background-color: silver !important;
    transition: all 0.2s ease-in 0s;
}

.form-field.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
    align-items: flex-end;
    max-width: 100%;
}

.form-field.row .col-3,
.form-field.row .col-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.form-field.row .col-6 {
    flex: 0 0 40%;
    max-width: 40%;
}

.form-field.row .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.wcs4-ajax-text {
    margin-left: 10px;
}

#wcs4-cancel-editing-wrapper {
    margin-bottom: 20px;
}

#wcs4-cancel-editing-wrapper a {
    text-decoration: none;
}

/* Settings page */
#wcs4-options-message {
    margin-top: 15px;
}

.wcs4-description {
    font-size: 12px;
    color: #888;
    margin-top: 3px;
    font-weight: normal;
}

.wcs4-description strong {
    color: #666;
}

.colorpicker-preview {
    display: inline-block;
    margin-left: 10px;
    width: 20px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

.ex1-link-box {
    background-color: #D8D8D8;
    max-width: 500px;
    padding: 0 14px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-color: #aaa;
    border-width: 1px;
    border-style: solid;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.ex1-link-box img {
    max-width: 100%;
}


.form-table td[data-type="wcs4_taxonomy_slug"],
.form-table td[data-type="wcs4_post_slug"],
.form-table td[data-type="wcs4_archive_slug"] {
    vertical-align: top;
}

.form-table td[data-type="wcs4_taxonomy_slug"] input,
.form-table td[data-type="wcs4_post_slug"] input,
.form-table td[data-type="wcs4_archive_slug"] input {
    width: 100%;
}

.form-table td[data-type="wcs4_taxonomy_slug"] input,
.form-table td[data-type="wcs4_post_slug"] input {
    padding-left: 10px;
    padding-right: 10px;
}

.form-table td[data-type="wcs4_archive_slug"] input {
    padding-left: 10px;
}


.form-table td[data-type="wcs4_taxonomy_slug"],
.form-table td[data-type="wcs4_post_slug"],
.form-table td[data-type="wcs4_archive_slug"] {
    position: relative;
}

.form-table td[data-type="wcs4_taxonomy_slug"]::before,
.form-table td[data-type="wcs4_taxonomy_slug"]::after,
.form-table td[data-type="wcs4_post_slug"]::before,
.form-table td[data-type="wcs4_post_slug"]::after,
.form-table td[data-type="wcs4_archive_slug"]::before,
.form-table td[data-type="wcs4_archive_slug"]::after {
    position: absolute;
    color: #c0c0c0;
    top: 20px;
}

.form-table td[data-type="wcs4_taxonomy_slug"]::before,
.form-table td[data-type="wcs4_post_slug"]::before,
.form-table td[data-type="wcs4_archive_slug"]::before {
    content: "/";
    left: 16px;
}

.form-table td[data-type="wcs4_taxonomy_slug"]::after,
.form-table td[data-type="wcs4_post_slug"]::after {
    content: "/{slug}";
    right: 16px;
}

.inactive {
    font-style: italic;
}

.tablenav {
    height: inherit;
}

.results-filter input[type=date] {
    width: 140px;
}

.results-filter select {
    max-width: 160px !important;
}

form.readonly input, form[readonly] input, input.readonly, input[readonly],
form.readonly textarea, form[readonly] textarea, textarea.readonly, textarea[readonly],
form.readonly select, form[readonly] select, select.readonly, select[readonly] {
    background-color: #eee !important;
}

.wcs4-management-page-callback [data-order-by][data-order-direction] .dashicons {
    color: silver;
}

.wcs4-management-page-callback [data-order-by][data-order-direction].active .dashicons {
    color: blue;
}

.wp-list-table ul {
    padding: 0;
    margin: 0;
}

.toplevel_page_weekly-class-schedule #col-left {
    width: 28%;
}

.toplevel_page_weekly-class-schedule #col-right {
    width: 72%;
}

.button .dashicons {
    position: relative;
    top: 5px;
}

fieldset label, .alignleft > label {
    display: block;
}

.buttons {
    padding-top: 18px;
}